html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.body {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

/* Navigation Section */ 

.top-navigation {
	background-color: #fff;
}

.top-navigation .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .links {
	margin-top: -3em;
	margin-left: 20em;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.7em;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover{
	cursor: pointer;
	color: #333333;
}

