html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.body {
	font-family: 'Roboto Mono', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

/* Navigation Section */ 

.top-navigation {
	background-color: #fff;
}

.top-navigation .content, .introduction .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .links {
	margin-top: -3em;
	margin-left: 20em;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.7em;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover{
	cursor: pointer;
	color: #333333;
}


.introduction {
	background-image: url("images/first-background-copy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	font-weight: 500;
	display: inline-block;
	width: 100%;
}

.introduction .content {
	color: white;
	text-align: center;
	font-weight: 500;
}

.introduction h1 {
	vertical-align: baseline;
	text-align: center;
	font-size: 3.125rem;
}

.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 9.688rem;
	background-color: #f15a29;
	font-size: 1.125rem;
	color: white;
	margin: 0 auto;

}

.cases {
	display: block;
	font-weight: 500;
	text-align: center;

}

.cases .devices {
	width: 33.3333333%;
	display: inline-block;
	/* styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 4em;
}